{% extends "index.html" %}

{% block content %}
    <div class="taxonomy">
        <h2>{{ term.name }}</h2>
        {% for page in term.pages %}
            <div class="taxonomy__item">
                <span class="taxonomy__item__time">{{ page.date | date(format="%F") 
                }}</span>
                <span class="taxonomy__item__title">
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                </span>
            </div>
        {% endfor %}
        <p>
            <a href="{{ term.permalink }}rss.xml">Category RSS
                <img src="{{ get_url(path='icons/rss-icon.svg') }}"
                     alt="RSS icon"
                     style="vertical-align: middle;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            top: -2px">
            </a>
        </p>
    </div>
{% endblock content %}
