#header {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .logo {
    font-family: Chancery, cursive, LiSu, sans-serif;
    font-weight: 400;
    white-space: nowrap;

    a {
      color: #34495e;
      font-size: 48px;
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: $main-colour;
      }
    }
  }

  .menu {
    align-self: flex-start;
    font-family: $decoration-font-family;

    ul {
      display: inline-block;
      padding-right: 25px;

      li {
        display: inline-block;
        margin-right: 5px;

        a {
          color: #34495e;
          font-size: 18px;
          transition: color 0.2s ease;

          &:hover {
            color: $main-colour;
          }
        }
      }
    }
  }
}

@include max-screen() {
  #header {

    .logo,
    .menu {
      display: none;
    }

    padding: 50px 0 0;
    text-align: center;
  }
}
